

    <p class="p-show">
      <strong>title: </strong><%= @book.title %>
    </p>
    <p class="p-show">
      <strong>body: </strong><%= @book.body %>
    </p>
    <div>
      <%= link_to 'Edit', edit_book_path(@book.id) %><span>|</span><%= link_to 'back', books_path %>
    </div>

