

    <p class="p-show">
      <strong>title: </strong><%= @book.title %>
    </p>
    <p class="p-show">
      <strong>body: </strong><%= @book.body %>
    </p>
    <p class="p-">
    <%= link_to 'Edit', edit_book_path(@book.id) %>
    </p>
    |
    <p class"p-">
    <%= link_to 'back', books_path %>
    </p>



