<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body class="show-body">
    <p class="p-show">
      <strong>title: </strong><%= @book.body %>
    </p>
    <p class="p-show">
      <strong>body: </strong><%= @book.body %>
    </p>
    <div>
      <%= link_to 'Edit', edit_book_path(@book.id) %><span>|</span><%= link_to 'back', books_path %>
    </div>
  </body>
</html>