<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body class="show-body">
    <div class="div-show">
      <h2>title:</h2>
      <p class="p-show"><%= @book.title %></p>
    </div>
    <div class="div-show">
      <h2>body:</h2>
      <p class="p-show"><%= @book.body %></p>
    </div>
  </body>
</html>